<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".GameApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RoboFight">

        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.RoboFight.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.menu.MenuActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.setup.PlayerSetupActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.robot.RobotSelectActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.customize.CustomizeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.city.CityMapActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.explore.CityExploreActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.treasure.TreasureActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.workshop.WorkshopActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.battle.BattleActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.result.ResultActivity"
            android:screenOrientation="portrait"/>

    </application>

</manifest>
